|===
|Path|Description|Required

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}
ifeval::["{{optional}}"=="true"]
`false`
endif::[]
ifeval::["{{optional}}"=="false"]
`*true*`
endif::[]
{{/tableCellContent}}
{{/fields}}
|===
